In [74]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [75]:
df = pd.read_csv("../data/iris_bin.csv")
df

     Id  sepal_length  sepal_width          species
0     1           5.1          3.5      Iris-setosa
1     2           4.9          3.0      Iris-setosa
2     3           4.7          3.2      Iris-setosa
3     4           4.6          3.1      Iris-setosa
4     5           5.0          3.6      Iris-setosa
..  ...           ...          ...              ...
95   96           5.7          3.0  Iris-versicolor
96   97           5.7          2.9  Iris-versicolor
97   98           6.2          2.9  Iris-versicolor
98   99           5.1          2.5  Iris-versicolor
99  100           5.7          2.8  Iris-versicolor

[100 rows x 4 columns]

In [76]:
df.describe()

               Id  sepal_length  sepal_width
count  100.000000    100.000000   100.000000
mean    50.500000      5.471000     3.094000
std     29.011492      0.641698     0.476057
min      1.000000      4.300000     2.000000
25%     25.750000      5.000000     2.800000
50%     50.500000      5.400000     3.050000
75%     75.250000      5.900000     3.400000
max    100.000000      7.000000     4.400000

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            100 non-null    int64
 1   sepal_length  100 non-null    float64
 2   sepal_width   100 non-null    float64
 3   species       100 non-null    object
dtypes: float64(2), int64(1), object(1)
memory usage: 3.2+ KB

In [78]:
df.columns

Index(['Id', 'sepal_length', 'sepal_width', 'species'], dtype='object')

In [79]:
# train test split

df = df.sample(frac=1, random_state=42)
x_train = df.iloc[:int(len(df) * 0.3), :-1].drop(columns=['Id'])
y_train = df.iloc[:int(len(df) * 0.3), -1]
x_test = df.iloc[int(len(df) * 0.3):, :-1].drop(columns=['Id'])
y_test = df.iloc[int(len(df) * 0.3):, -1]

print(x_train.shape, y_train.shape, x_test.shape, y_test.shape)

(30, 2) (30,) (70, 2) (70,)

In [80]:
# z-score scaling
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(x_train.values)
x_train_scaled = scaler.transform(x_train.values)
x_test_scaled = scaler.transform(x_test.values)

In [81]:
y_train = y_train.map({"Iris-setosa": 0, "Iris-versicolor": 1})
y_test = y_test.map({"Iris-setosa": 0, "Iris-versicolor": 1})

In [82]:
# KNN
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score

acc = []

for n in range(1, 21):
    knn = KNeighborsClassifier(n_neighbors=n)
    knn.fit(x_train_scaled, y_train)
    y_pred = knn.predict(x_test_scaled)
    print(f"n = {n}")
    print(f"accuracy: {accuracy_score(y_test, y_pred)}")
    acc.append({
        "n": n,
        "accuracy": accuracy_score(y_test, y_pred),
        "precision": precision_score(y_test, y_pred),
        "recall": recall_score(y_test, y_pred),
        "f1": f1_score(y_test, y_pred),
    })

n = 1
accuracy: 1.0
n = 2
accuracy: 0.9857142857142858
n = 3
accuracy: 1.0
n = 4
accuracy: 0.9857142857142858
n = 5
accuracy: 1.0
n = 6
accuracy: 1.0
n = 7
accuracy: 1.0
n = 8
accuracy: 0.9857142857142858
n = 9
accuracy: 1.0
n = 10
accuracy: 1.0
n = 11
accuracy: 1.0
n = 12
accuracy: 0.9857142857142858
n = 13
accuracy: 0.9857142857142858
n = 14
accuracy: 0.9571428571428572
n = 15
accuracy: 0.9714285714285714
n = 16
accuracy: 0.9428571428571428
n = 17
accuracy: 0.9571428571428572
n = 18
accuracy: 0.9428571428571428
n = 19
accuracy: 0.9571428571428572
n = 20
accuracy: 0.9